body {
	background-color: #FEFE33;
}

ul li {
  margin-bottom: 6px; 
}

ul {
	border: 2px solid brown;
}

header {
	background-color: #9A7B1E;
}

footer {
	background-color: #9A7B1E; 
}

hr {
	background-color: #9A7B1E;
}

h1 {
	text-align: center;
		color: #FEFE33;
}
#footer-text {
	text-align: center;
	color: #FEFE33;
}
